body
{
    background-color: #FFFFFF;
}

#title
{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* milk stuffs */

.milkContainer
{

    position: absolute;
    top: 27%;
    transform: translateY(-50%);
    left: 35%;
    transform: translateX(-50%);

    image-rendering: pixelated
    
}

.milkImage
{
    transition-duration: 0.12s;
}

.milkImage:hover
{
    opacity: 0.85;
    transform: scale(1.02);
    cursor: pointer;
    transition-duration: 0.12;
}

.milkImage:active
{
    opacity: 0.75;
    transform: scale(0.98)
    
}

/* shop stuffs */

.shopSection
{

    position: absolute;
    top: 21%;
    transform: translateY(-50%);
    left: 65%;
    transform: translateX(-50%);
    display: block;
    text-align: center;
    align-items: center;
    padding: 30px;

}

.shopContainer
{

    display: block;
    text-align: center;
    align-items: center;
    overflow-y: auto;
    padding: 0px;
    max-height: 400px;

}

/* shop buttons */

.shopButton
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 5px solid #7777FF;
    padding: 18px; 
    width: 225px;
    height: 60px;
    margin: 12px;
    font-family: cursive;
    text-align: center;
    transition-duration: 0.1s;
    image-rendering: pixelated;
    
    
}

.shopButton:hover
{
    opacity: 0.85;
    transform: scale(1.02);
    cursor: pointer;
    transition-duration: 0.1s;
}

.shopButton:active
{
    opacity: 0.75;
    transform: scale(0.98)
    
}

/* canvas */

#canvas1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}